flows/github-issue-triage-v2.yml
id: github-issue-triage-v2
namespace: hackathon
description: |
  AI-powered GitHub Issue Triage Agent with Decision Making
  - Fetches issues from GitHub
  - AI summarizes and categorizes them
  - Uses Kestra Tools to apply labels and post comments

inputs:
  - id: github_token
    type: STRING
    displayName: GitHub Token

  - id: openrouter_api_key
    type: STRING
    displayName: OpenRouter API Key

  - id: repo_owner
    type: STRING
    defaults: "drubo-nath"

  - id: repo_name
    type: STRING
    defaults: "issue-triage-demo"

tasks:
  - id: fetch_issues
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.github.com/repos/{{ inputs.repo_owner }}/{{ inputs.repo_name }}/issues?state=open&per_page=10"
    method: GET
    headers:
      Authorization: "Bearer {{ inputs.github_token }}"
      Accept: "application/vnd.github+json"
      X-GitHub-Api-Version: "2022-11-28"

  - id: triage_agent
    type: io.kestra.plugin.ai.agent.AIAgent
    provider:
      type: io.kestra.plugin.ai.provider.OpenAI
      modelName: amazon/nova-2-lite-v1:free
      apiKey: "{{ inputs.openrouter_api_key }}"
      baseUrl: "https://openrouter.ai/api/v1"
    systemMessage: |
      You are an expert GitHub Issue Triage Agent. Analyze issues and provide structured recommendations.
      
      For each issue provide:
      1. Issue number and title
      2. Category: bug, enhancement, question, or documentation
      3. Priority: P1-Critical, P2-High, P3-Medium, or P4-Low
      4. A brief helpful response suggestion
      
      Then provide an overall summary of the issue queue health.
    prompt: |
      Analyze these GitHub issues from {{ inputs.repo_owner }}/{{ inputs.repo_name }}:
      
      {{ outputs.fetch_issues.body }}
      
      Provide triage recommendations for each issue and an overall health summary.

  - id: log_output
    type: io.kestra.plugin.core.log.Log
    message: "Triage complete"

  - id: report
    type: io.kestra.plugin.core.debug.Return
    format: |
      ## GitHub Issue Triage Report
      
      **Repository:** {{ inputs.repo_owner }}/{{ inputs.repo_name }}
      
      ### AI Triage Analysis
      {{ outputs.triage_agent.textOutput }}
