flows/github-issue-triage.yml
id: github-issue-triage
namespace: hackathon
description: |
  AI-powered GitHub Issue Triage Agent
  Fetches issues from a GitHub repo, summarizes them with AI, and makes decisions (labels, priority, responses)

inputs:
  - id: github_token
    type: STRING
    displayName: GitHub Token
    description: Your GitHub Personal Access Token

  - id: openrouter_api_key
    type: STRING
    displayName: OpenRouter API Key
    description: Your OpenRouter API Key (free at openrouter.ai)

  - id: repo_owner
    type: STRING
    displayName: Repository Owner
    description: GitHub username or organization
    defaults: "your-username"

  - id: repo_name
    type: STRING
    displayName: Repository Name
    description: Name of the repository
    defaults: "issue-triage-demo"

tasks:
  - id: fetch_issues
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.github.com/repos/{{ inputs.repo_owner }}/{{ inputs.repo_name }}/issues?state=open&per_page=10"
    method: GET
    headers:
      Authorization: "Bearer {{ inputs.github_token }}"
      Accept: "application/vnd.github+json"
      X-GitHub-Api-Version: "2022-11-28"

  - id: log_issues
    type: io.kestra.plugin.core.log.Log
    message: "Fetched {{ outputs.fetch_issues.body | length }} issues from GitHub"

  - id: summarize_issues
    type: io.kestra.plugin.ai.agent.AIAgent
    provider:
      type: io.kestra.plugin.ai.provider.OpenAI
      modelName: amazon/nova-2-lite-v1:free
      apiKey: "{{ inputs.openrouter_api_key }}"
      baseUrl: "https://openrouter.ai/api/v1"
    systemMessage: |
      You are an expert GitHub Issue Triage Agent. Your job is to analyze GitHub issues and provide:
      1. A brief summary of each issue
      2. Suggested labels (bug, feature, question, documentation, good-first-issue, help-wanted)
      3. Priority level (P1-Critical, P2-High, P3-Medium, P4-Low)
      4. A helpful auto-response suggestion
      
      Be concise and actionable. Format your response as a structured analysis.
    prompt: |
      Analyze the following GitHub issues and provide triage recommendations:
      
      {{ outputs.fetch_issues.body }}
      
      For each issue, provide:
      1. Issue number and title
      2. One-sentence summary
      3. Recommended labels
      4. Priority (P1-P4)
      5. Suggested auto-response (2-3 sentences max)
      
      Also provide an overall summary of the issue queue health.

  - id: output_result
    type: io.kestra.plugin.core.debug.Return
    format: |
      ## GitHub Issue Triage Report
      
      **Repository:** {{ inputs.repo_owner }}/{{ inputs.repo_name }}
      
      ### AI Analysis:
      {{ outputs.summarize_issues.output }}
